label,file,lane,read,sample,experiment,date,comments
HW1,kiwitest.1.R1.fq.gz,1,R1,HW1,kiwitest,2016-01-01,This is crap 
HW1,kiwitest.1.R2.fq.gz,1,R2,HW1,kiwitest,2016-01-01,This is crap
HW2,kiwitest.2.R1.fq.gz,1,R1,HW2,kiwitest,2016-01-01,This is crap
HW2,kiwitest.2.R2.fq.gz,1,R2,HW2,kiwitest,2016-01-01,This is crap
