/*
 * FILES
 */

includeConfig 'default.config'

params{
        stage = 'all'
        genus = "Actinidia"
        species = "chinensis"
        project = "NextFlowTest"
        output_dir = "./"
        publish_dir = "/output/genomic/plant/${genus}/${species}/${project}"
        input_dir = "$baseDir/KiwiTestData/"
        data_dir = "$baseDir/200.data"
        reads = "$data_dir/*R{1,2}.fq.gz"
        genome = "$baseDir/KiwiTestData/kiwitest.fasta"
        design = "./design.config"

        build_sample_ids = true

        fastqc_module = 'FastQC/0.11.2'
        fastqc_opts = ''
        fastqc_outdir = "$baseDir/001.fastqc"

        fastq_screen_module='fastq_screen/v0.5.2:bowtie2/2.2.5'
        fastq_screen_outdir = "$baseDir/002.fastq_screen"
        fastq_screen_conf = "$baseDir/fastq_screen_conf/Vitis_Ecoli_fqscreen.conf"

        build_index = true
        build_index_module='bwa/0.7.12:picard-tools/2.2.4:samtools'

        align = true
        align_module = 'bwa/0.7.12:samtools/1.2'

        align_merge = false
        align_merge_module = 'samtools/1.2'

        add_read_group_id = true
        add_read_group_id_module = 'picard-tools/2.2.4:samtools/1.3.1'
        add_read_group_id_MAX_RECORDS_IN_RAM = 50000000
        add_read_group_id_RGLB = "lib1"
        add_read_group_id_RGPL = "Illumina"
        add_read_group_id_RGPU = "unit1"
        add_read_group_id_free = ""

        mark_dup = true
        mark_dup_module = 'picard-tools/2.2.4:samtools/1.3.1'

        variant_calling_freebayse = true
        variant_calling_freebayse_module = 'freebayes/v1.0.2-16-gd466dde:vcflib/latest' 

        index_bam = true
        index_bam_module = 'samtools/1.2'

        build_index_gatk = true
        build_index_gatk_module = 'picard-tools/2.2.4:samtools/1.3.1'

        ploidy = 4

        variant_calling_gatk = true
        variant_calling_gatk_module = 'gatk/1.0:picard-tools/2.2.4:samtools/1.3.1'

        joint_calling = true
        joint_calling_module = 'picard-tools/2.2.4:gatk/1.0:samtools/1.3.1'
        joint_calling_nt = 12
}

