/*
 * FILES
 */

includeConfig 'default.config'

params{
        output_dir = "./"
        input_dir = "$baseDir/KiwiTestData/"
        data_dir = "$baseDir/data"
        reads = "$data_dir/*R{1,2}.fq.gz"
        genome = "$baseDir/KiwiTestData/kiwitest.fasta"
        design = "./design.config"

        build_sample_ids = true

        build_index = true
        build_index_module='bwa/0.7.12'

        align = true
        align_module = 'bwa/0.7.12:samtools/1.2'

        align_merge = false
        align_merge_module = 'samtools/1.2'

        add_read_group_id = true
        add_read_group_id_module = 'picard-tools/2.2.4:samtools/1.2'
        add_read_group_id_MAX_RECORDS_IN_RAM = 50000000
        add_read_group_id_RGLB = "lib1"
        add_read_group_id_RGPL = "Illumina"
        add_read_group_id_RGPU = "unit1"
        add_read_group_id_free = ""

        mark_dup = true
        mark_dup_module = 'picard-tools/2.2.4'

        variant_calling_freebayse = true
        variant_calling_freebayse_module = 'freebayes/v1.0.2-16-gd466dde:vcflib/latest' 

        index_bam = true
        index_bam_module = 'samtools/1.2'
}

